:root {
  --main-background-color: #ffffff;
  --main-text-color: #434455;
  --main-title-color: #2e2f42;
}
/* ===========Default=========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.link-item:hover,
.link-item:focus {
  color: #404bbf;
}
.feedback:hover,
.feedback:focus {
  color: #404bbf;
}
.btn-menu-item:hover,
.btn-menu-item:focus {
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
}
/* ===========/Default=========== */

/* ===========Шапка=========== */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  text-transform: uppercase;
  color: #4d5ae5;
}
.main-logo {
  color: var(--main-title-color);
}
.nav-menu {
  display: flex;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 40px;
}
.link-item {
  color: var(--main-title-color);
}
.header-feedback {
  display: flex;
  margin-left: auto;
}
.feedback-menu {
  font-style: normal;
}
.feedback-list {
  display: flex;
  gap: 40px;
}
.feedback {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/* ===========/Шапка=========== */

/* Index */
/* ===========Hero=========== */
.hero {
  background-color: var(--main-title-color);
}
.main-title {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.main-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.main-btn:hover,
.main-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* ===========/Hero=========== */

.skill-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.skill-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.minor-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-title-color);
}
.team-section {
  background-color: #f4f4fd;
}
.team-list-item {
  background-color: #ffffff;
}
.employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.job-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Portfolio */
.btn-menu-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  color: #4d5ae5;
}
/* Footer */
footer {
  background-color: var(--main-title-color);
}
.footer-logo {
  color: #f4f4fd;
}
.footer-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.examples-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.examples-text-item {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
